
.omura{
   position:relative;
   margin-left: auto;
   top:240px;
   
}
.path{
    position:relative;
}
.center{
    width:500px;
    margin: 0 auto;
}
.bg-indigo{
    background-color: #49274a;
}

header{
    position:fixed;
    top:0;
    width:90%;
    max-width: 1000px;
    font-size: larger;
}
main{
    max-width: 1000px;
    width:95%;
    margin: 0 auto;
}
body{
    font-size: 300%;
    background-color: #f8eee7;
    max-width: 1000px;
    width:95%;
    margin: 0 auto;
    margin-top: auto;
}
button{
    width:4em;
    height:2em;
}

.navbar-brand{
   
    font-size: 90%;
    margin-left:0;
}

.container{
    font-size: 125%;
    margin-right: auto;
    margin-left: auto;

}


.bg{
    font-size: 150%;
}

.btn-success{
    width:700px;
    font-size: 48px;
    background-color: #94618e;
    border-color: #94618e;
    text-align: center;
}

.btn-success:hover{
    background-color: #7b4b6d;
    border-color: #7b4b6d;
  }
/* 右向きの矢印を追加 */
.btn-arrow:after{
    content: '\2192'; /* Unicodeで右向きの矢印を指定 */
    margin-left: 10px; /* 矢印の左側の余白 */
}

/* ボタンに矢印スタイルを適用 */
.btn-arrow{
    position: relative;
}

/* 矢印のスタイルを調整する場合は、このクラスをカスタマイズ */
.btn-arrow.custom-arrow:after {
    color:  white; /* 矢印の色を変更 */
    font-size: 24px; /* 矢印のサイズを変更 */
}
.large-textbox {
    width: 700px; /* テキストボックスの幅を設定 */
    height: 150px; /* テキストボックスの高さを設定 */
    font-size: 64px; /* テキストのフォントサイズを設定 */
    text-align: center;
}
.form-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-param {
    width:700px;
    height:100px;
    font-size: 48px;
    text-align: center;
}

.form-paramEn {
    width:700px;
    height:100px;
    font-size: 48px;
}

.form-label {
    font-size: 48px;
}

.btn-add {
    width:400px;
    height: 50px;
    background-color: white;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:1em;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
}

.check {
    width: 50px;
    height: 50px;
    margin-left: 50px;
}

.check-text {
    font-size: 48px;
}
.red{
    color:red;
}
.agree-title{
    margin: 0 auto;
    font-size: 64px;
}



.name-title{
    font-size: 80px;
}
.name-titleEN{
    font-size: 64px;
}
.end-text{
    font-size: 48px;
}

input[type="radio"] {
    width: 48px;
    height: 48px;
}

.image-container{
    position: relative;
    max-width: 1000px;
    width: 90%;
    height: 700px;
    margin: 0 auto;
}

.image-container img {
    max-width: 1000px;
    width:90%;
    height:auto;
    position: absolute;
    display: block;
    margin: 1em 40px;
    transition: transform 0.3s ease;
}

.image-container img:first-child {
    z-index: -2; /* image1を手前に表示 */
    
}
.image-container img:last-child {
    transform: scale(1.5); /* 2番目の画像を1.5倍に拡大 */
    z-index: -1; /* 2番目の画像を手前に表示 */
}
.image-text{
    position: absolute;
    margin-top: 800px;
}

.bordered {
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #333333; 
    background: #f8eee7;
    border-radius: 10px;
  }
.mini{
    font-size: 32px;
  }

.end-bg {
    font-size: 64px;
}
.url-font{
    font-size: 48px;
}
.text-center{
    text-align: center;
}
.map-text{
    text-align: center;
    margin-top: 8em;
    position: relative;
}
.calc-center{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80%;
    height:80%;
    text-align: center;
}
.spot{
    margin-left: 20px;
}
.end-bg{
    font-size: 100px;
}
.end-text{
    font-size: 64px;
}
.formselect{
    margin-left: 20%;
}
.name-explain{
    font-size: 54px;
}
img{
    width:80%;
    margin: 1em auto;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

/* モーダル内の画像のスタイル */
.modal-content {
    position: absolute;
    transform: scale(1.25); 
    margin: 50% 10%;
    display: block;
    max-width: 80%;
    max-height: 80%;
    z-index: 1;
}
.modal-content-second {
    position: absolute;
    transform: scale(1.875); 
    margin: 50% 10%;
    display: block;
    max-width: 80%;
    max-height: 80%;
    z-index: 2;
}

/* 閉じるボタンのスタイル */
.close {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.close-text{
    font-size: 24px;
}