{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
<!DOCTYPE html>

<html>
    <head>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'QAmuseum/style.css' %}">
        
        <title>
            Agreement
        </title>
    </head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-indigo p-1">
            <div class="container-fluid">
               <a class="navbar-brand" href="#">Agreement</a>
               <ul class="navbar-nav"><li class="nav-item"><a href="{% url 'Agree' %}" class="nav-link">日本語</a></li></ul>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <div class="container-fluid">
    <div class="text-center">
    
        <a href="{% url 'Name_En' %}">Agree</a>
    </div></div>

</body>
</html>