{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
<!DOCTYPE html>

<html>
    <head>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'QAmuseum/style.css' %}">
        
        <title>
            Terms of Use
        </title>
    </head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-indigo">
            <div class="container-fluid">
               <a class="navbar-brand" href="#">Terms of Use</a>
               <ul class="navbar-nav"><li class="nav-item"><a href="{% url 'Agree' %}" class="nav-link">日本語</a></li></ul>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <div class="container agree">

   
    <div class="agree-title">
    IPA MITOU target program project<br><br>
    Museum Tour Optimization Application <br>
    Using Annealing Machine <br>
    Terms of Use</div><br>
    <div>
    About This Project<br>
本プロジェクトでは、量子コンピューティング技術を一般の方に体験してもらう機会の創出を目的に、アニーリングマシンを利用した美術館の巡回経路最適化アプリケーションの開発を目指すものです（https://www.ipa.go.jp/jinzai/mitou/target/2023/gaiyou_ts-1.html）。本プロジェクトは、情報処理推進機構（IPA）の未踏ターゲット事業（https://www.ipa.go.jp/jinzai/mitou/target/index.html）の支援を受けて実施されています。
<br><br>
アプリケーション利用規約<br><br>
本アプリケーションは、アニーリングマシンを利用した美術館の巡回経路最適化アプリケーションの評価に利用されるものです。この評価では、ユーザにアプリケーションを利用した美術館の巡回を実施していただいた後、アンケートへの回答を依頼します。<br>アプリケーションの利用に際する注意は以下の通りです。<br><br>
•	アプリケーションで表示した経路、巡回時間などデータは収集し、評価に利用されます。ただし、アプリケーションにご入力いただいた情報、アプリケーションで表示した情報以外のデータの収集は実施していません。<br><br>
•	アプリケーションの利用を途中で中止したくなった場合は、その場で中止していただくことが可能です。<br><br>
•	アプリケーションを美術館の巡回以外の用途で利用することは禁じています。<br><br>
•	アプリケーションの利用を開始した場合、本利用規約に同意したものとみなします。<br><br>
<br>
注意事項<br><br>
1.	個人情報とデータの取り扱い<br>
取得したデータや個人情報は、本プロジェクトと関連研究以外には使用しません。また、データは匿名化して取得しますので、学会、研究発表、論文誌等を通じて研究発表等を行う際も個人情報は守秘されます。
<br><br>
2.	知的財産権について<br>
本プロジェクトの知的財産権の帰属はプロジェクトメンバとIPAの協議の上決定され、データ提供者に帰属することはありません。<br>
<br>
3.	被験者の権利について<br>
本アプリケーションを利用されなくても不利益を受けることはありません。また、本アプリケーションの利用を途中で中止したくなった場合は、その場で中止していただいても不利益を受けることはありません。
<br><br>
4.	謝金の支払いについて<br>
本評価はボランティアでの参加をお願いしているため、謝礼の支払いはありません。
<br>
<br>
本実験についてご不明点がありましたら、遠慮なくご連絡ください。
<br><br></div>
<div>
【実施責任者】<br>
山梨大学 大学院医工農学総合教育部（博士課程）工学専攻<br>
小見山 朋子<br>
tkomiee@gmail.com<br>
<br>
山梨大学 大学院医工農学総合教育部（修士課程）工学専攻<br>
小川 裕大<br>
g23tk007@yamanashi.ac.jp<br><br>
</div>
    <a href="{% url 'Name' %}">同意する</a>
    </div>
</body>
</html>