{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'QAmuseum/style.css' %}">
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" type="text/css" href="{% static 'QAmuseum/style.css' %}">
        <link rel="stylesheet" href="{% static 'path/to/lightbox2/css/lightbox.min.css' %}">
        <title>大村智記念学術館</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-indigo p-1">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">大村智記念学術館</a>
                </div>
            </nav>
        </header>
        <br><br>
        
        <div class="container-fluid">
        
        <div class="text-center">
            <p class="end-text">予測巡回時間 <br>
        {{goaltime}}分</p><br>
         <a href="{% url 'Parameter' pk  %}">設定画面へ戻る</a><br>
        <div class="image-container">
        <img src="/media/map_all.png" width="720px">
        <img src="data:image/png;base64,{{graph|safe}}" >
        </div>
        <div class="text-center">
            <a href="#" onclick="openModal()">拡大</a></div>
        <br>
        <a href="{% url 'CalcPathWait' pk %}">再計算する</a><div class="text-center">
    <a href="{% url 'MuseumPath' pk  %}"class="btn btn-success btn-block" role="button">案内を開始</a><br></div>
       </div>
    </div>
    <div id="myModal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img src="/media/map_all.png" class="modal-content" alt="Large Image">
        <img src="data:image/png;base64,{{graph|safe}}" class="modal-content-second" >
    </div>
        
    <script src="{% static 'path/to/lightbox2/js/lightbox.min.js' %}"></script>
<script>
    function openModal() {
        document.getElementById('myModal').style.display = 'block';
        }

        // モーダルを閉じる関数
        function closeModal() {
            document.getElementById('myModal').style.display = 'none';
        }

        // モーダル外をクリックしたら閉じる
        window.onclick = function(event) {
            var modal = document.getElementById('myModal');
            if (event.target === modal) {
                closeModal();
            }
        };
</script>    
</body>
</html>