{% extends "base.html" %}
    {% block ul %}
    {% endblock %}
    {% block body %}
        
        <div class="container-fluid">
        <p class="spot">現在地点:<br></p>
        <p class="text-center name-explain">{{name}}<br></p>
        <div class="text-center">
            <div class="picture-frame">
        <img src="/media/{{img}}"></div></div>
        <br>
        <p class="spot">説明:<br></p>
        <p class="text-center name-explain">{{explain}}<br></p>
        <br>
        <div class="text-center name-explain">
        <form action="{% url 'Evaluation' pk%}" method="POST">
            {% csrf_token %}
            {{form.display_evaluation.label}}<br>
            {{form.display_evaluation}}<br><br>
            <button type="submit" name="button" class="btn btn-success">次へ進む</button>
<br><br>
        </form></div></div>
        
        {% endblock %}