{% extends "base.html" %}
    {% block ul %}
    {% endblock %}
    {% block body %}
        <main>
        <div class="container">
        現在地点:{{name}}<br>
        説明:{{explain}}<br>
        <img src="/media/{{img}}" width="720px"><br>
        <!--<div class="text-center">
        <a href="{% url 'MuseumPath' pk%}" class="btn btn-danger btn-block" role="button"><p class="bg">次へ進む</p></a></div>-->
        <div class="text-center">
        <form action="{% url 'Evaluation' pk%}" method="POST">
            {% csrf_token %}
            {{form.display_evaluation.label}}<br>
            {{form.display_evaluation}}<br>
            <button type="submit" name="button" class="btn btn-success"><p class="bg">次へ進む</p></button>

        </form></div></div>
        </main>
        {% endblock %}