{% extends "base_En.html" %}
    {% block ul %}
    {% endblock %}
    {% block body %}
        
        <div class="container-fluid">
        <p class="spot">Now:<br></p>
        <p class="text-center name-explain">{{name}}<br></p>
        <div class="text-center">
        <img src="/media/{{img}}"><br>
        </div>
        <p class="spot">Explain:<br</p>>
        <p class="text-center name-explain">{{explain}}<br></p>
        <br>
        <div class="text-center name-explain">
        <form action="{% url 'EvaluationEn' pk%}" method="POST">
            {% csrf_token %}
            {{form.display_evaluation.label}}<br>
            {{form.display_evaluation}}<br><br>
            <button type="submit" name="button" class="btn btn-success">Next</button>

        </form></div></div>
       
        {% endblock %}