{% extends "base.html" %}
    {% block ul %}
        <ul class="navbar-nav"><li class="nav-item"><a href="{% url 'ParameterSelect' pk %}" class="nav-link">最初に戻る</a></li></ul>
    {% endblock %}

    {% block body %}
        
            <div class="container-fluid">
            <div class="text-center">
            <p class="end-text">
                <p class="end-bg">{{name}}さん<br> おつかれさまでした！</p><br><br>
                ゴールするまでに<br>量子コンピュータで<br><p class="end-bg">{{count}}回</p>計算を行いました．<br><br>
                <a href = "https://amplify.fixstars.com/ja/techresources/about-quantum-computer/">量子コンピュータとは？</a><br><br>
                <a href = "https://docs.google.com/forms/d/e/1FAIpQLSdJxXaEHuOfqaW7dFRKh8fyWRs1uElvRooef_vCwe1geuFWDw/viewform">アンケートにご協力ください</a><br><br></p>
                <p class="close-text">ブラウザを閉じて終了してください．</p><br>
            </div></div>
        
    {% endblock %}