{% extends "base_En.html" %}
{% block ul %}
<ul class="navbar-nav"><li class="nav-item"><a href="{% url 'ParameterSelectEn' %}" class="nav-link">Back to Start</a></li></ul>
{% endblock %}

{% block body %}
<main>

    <p class="end-text">
        Thank you, xx.<br>
        The quantum computer performed xx calculations until the goal was reached.<br>
        <a href = "https://amplify.fixstars.com/ja/techresources/about-quantum-computer/">What Quatum Computer?</a><br>
        <a href = "">Please fill out the survey.</a><br>
        Please close the browser and exit.<br>
    </p>
</main>
{% endblock %}