{% extends "base_En.html" %}
{% block ul %}
<ul class="navbar-nav"><li class="nav-item"><a href="{% url 'ParameterSelectEn' pk %}" class="nav-link">Back</a></li></ul>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="text-center">
    <p class="end-text">
         <p class="end-bg">Thank you,<br>{{name}}.</p><br>
        The quantum computer performed <p class="end-bg">{{count}}</p> calculations until the goal was reached.<br><br>
        
        <a href = "{% url 'Quantum' pk %}">What Quatum Computer?（Japanese）</a><br><br>
        

        <p class="close-text">Please close the browser and exit.</p>
    <br>
    </p>
</div></div>
{% endblock %}