{% extends "base_En.html" %}
{% block ul %}
<ul class="navbar-nav"><li class="nav-item"><a href="{% url 'ParameterSelectEn' pk %}" class="nav-link">To Start</a></li></ul>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="text-center">
    <p class="end-text">
         <p class="end-bg">Thank you,{{name}}.</p><br>
        The quantum computer performed <p class="end-bg">{{count}}</p> calculations until the goal was reached.<br><br>
        <a href = "https://amplify.fixstars.com/ja/techresources/about-quantum-computer/">What Quatum Computer?</a><br><br>
        <a href = "https://docs.google.com/forms/d/e/1FAIpQLSdJxXaEHuOfqaW7dFRKh8fyWRs1uElvRooef_vCwe1geuFWDw/viewform">Please fill out the survey.</a><br>
        <p class="close-text">Please close the browser and exit.</p>
    <br>
    </p>
</div></div>
{% endblock %}