{% extends "base.html" %}
        {% block ul %}
            <ul class="navbar-nav"><li class="nav-item"><a href="{% url 'loginEn' %}" class="nav-link">English</a></li></ul>
            {% endblock %}
                </div>
            </nav>
        </header>
        {% block body %}
        <main>
            <div class="container">
                <form method="POST">{% csrf_token %}
                    {{form.as_p}}
                
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-block">次へ</button></form>
                <br><br>
                <a href="{% url 'Name' %}">もどる</a></div>
        </main>
    
        {% endblock %}