{% extends "base_En.html" %}
    {% block ul %}
    <ul class="navbar-nav"><li class="nav-item"><a href="{% url 'login' %}" class="nav-link">日本語</a></li></ul>
    {% endblock %}
        </div>
    </nav>
    </header>
    {% block body %}
    
    <div class="container-fluid"><div class="text-center">
        <form method="POST">{% csrf_token %}
            {{form.as_p}}
        
    
        <button type="submit" class="btn btn-success btn-block">Next</button></form>
        <br><br>
        <a href="{% url 'Name_En' %}">Back</a></div></div>
    

    {% endblock %}