{% extends "base_En.html" %}
                   {% block ul %}
                   <ul class="navbar-nav"><li class="nav-item"><a href="{% url 'Name' %}" class="nav-link">日本語</a></li></ul>
                    {% endblock %}
                </div>
            </nav>
        </header>
        {% block body %}
        
        <div class="container-fluid">
            <div class="text-center">
                <p class="name-titleEN"> Museum
                    Recommended Route System</p></div>
            <br>
            <div class="text-center">
            <form method="POST">{% csrf_token %}
                    {{form.as_p}}
                    <p class="mini">Password for re-login is set arbitrarily</p>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-block">Next</button>
                </div>
            </form>
            <br>
            <div class="text-center">
            <a href = "{% url 'loginEn' %}">Login</a>&emsp;&emsp;
            <a href = "{% url 'AgreeEn' %}">Agreement</a></div><br>
            <p class="close-text">The user of this service is deemed to have agreed to the agreement.</p>
        </div>
        </div>
    
    {% endblock %}
