{% extends "base.html" %}
                   {% block ul %}
                   <ul class="navbar-nav"><li class="nav-item"><a href="{% url 'Name_En' %}" class="nav-link">English</a></li></ul>
                    {% endblock %}
                
        {% block body %}
        
            <div class="container-fluid">
        <div class="text-center">
            <p class="name-title">美術館<br>
            おすすめルートシステム</p></div>
        <div class="text-center">
            
            
        <form method="POST">{% csrf_token %}
            {{form.as_p}}

            <p class="mini">再ログイン用パスワードは任意に設定</p>
        </div>

            <div class="text-center">
            <button type="submit" class="btn btn-success btn-block">はじめる</button>
        </form>
        <br><br>
        <a href = "{% url 'login' %}">再ログイン</a>&emsp;&emsp;
        <a href = "{% url 'Agree' %}">同意書</a></div><br>
    <p class="close-text">本サービスの利用者は，同意書に同意したものとみなします</p>
    </div>
        
    
    {% endblock %}
