{% extends "base_En.html" %}
                   {% block ul %}
                   <ul class="navbar-nav"><li class="nav-item"><a href="{% url 'Name' %}" class="nav-link">日本語</a></li></ul>
                    {% endblock %}
                </div>
            </nav>
        </header>
        {% block body %}
        <main>
        <div class="container">
            <div class="text-center">
                <p class="name-title">Satoshi Omura Memorial Academic Museum <br>
                    Recommended Route System</p></div>
            <br>
            <div class="text-center">
            <form method="POST">{% csrf_token %}
                    {{form.as_p}}
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-block">Next</button>
                </div>
            </form>
            <br>
            <div class="text-center"></div>
            <a href = "{% url 'loginEn' %}">Login</a>
            <a href = "{% url 'AgreeEn' %}">Terms of Use</a>
        </div>
        </div>
    
        </main>
    
    {% endblock %}
