{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
    <head>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'QAmuseum/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'QAmuseum/style.css' %}">
        
        <title>
            SATOSHI OMURA MUSEUM
        </title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-indigo">
                <div class="container-fluid">
                   <a class="navbar-brand" href="#">SATOSHI OMURA MUSEUM</a>
                   <ul class="navbar-nav"><li class="nav-item"><a href="{% url 'Parameter' pk%}" class="nav-link">日本語</a></li></ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
            <br><br>
                <form method="POST">{% csrf_token %}
                    {% for field in form %}
                    <div class="form-label">
                    {{ field.label_tag}}<br></div>
                    <div class="form-center">
                    {{field | add_class:"form-param"}}</div>
                    {% if field.field.widget.attrs.label_type == 'f' %}                   
                    <button name="add" type="submit" class="btn btn-block btn-add">+Add</button>
                    {% endif %}<br>
                    {% endfor %}
            
                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-block">Next</button>
                    </div>
                </form>
            
            </div>
        </main>
    </body>
</html>