{% extends "base.html" %}
    {% block ul %}
    {% endblock %}
    {% block body %}
    
        <div class="container-fluid">
        <div class="text-center">
        巡回方法を選択してください<br></div>
        <div class="formselect">
        <form method="POST" action="{% url 'ParameterSelect' pk=pk %}">{% csrf_token %}
        
        <label><input type="radio" name="radio_option" value="option1" onclick="ChangeButton('計算開始')">全ての展示を見る</label><br>
        <label><input type="radio" name="radio_option" value="option2" onclick="ChangeButton('次へ')">閲覧時間を設定する</label><br>
        </div><div class="text-center">
        <input type="submit" value="次へ" id="submitButton" class="btn btn-success">
        </form></div>
        </div>
        

    <script>
        function ChangeButton(newtext){
            document.getElementById("submitButton").value=newtext;
        }
    </script>
    {% endblock %}