{% extends "base.html" %}
{% block ul %}
<ul class="navbar-nav"><li class="nav-item"><a href="{% url 'End' pk %}" class="nav-link">戻る</a></li></ul>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <p class="QAtitle">量子コンピュータとは?</p><br>
    <p class="QAtext">
        量子コンピュータは，量子の性質を利用して計算を行う新しい技術です．<br>
        従来のコンピュータとは全く異なる方法で計算を行い，従来よりも高速かつ省エネルギーで計算できることが期待されています．
    </p>
    <br>
    <p class="QAsub">量子の性質とは・・・？　なぜはやいの・・・？</p><br>
    <p class="QAtext">
        従来のコンピュータは「0」（電気が通らない）と「1」（電気が通るの2つの状態を利用して計算しています．
        それに対して，量子コンピュータは「0」，「1」と「0と1の重ね合わせ状態」という3つの量子の状態を利用して計算をします．
        「0と1の重ね合わせ状態」とは，外部から観測すると確率Pで0であり，確率(1-P)で1に決まるが，それまでは0でも1でもある状態のことです．
        この状態の説明として有名なものに「シュレディンガーの猫」があります．
        例えば，「00」「01」「10」「11」の4通りの状態を確認する場合，従来のコンピュータはすべての状態を一つずつ確認するため四回の処理が実行されます．
        一方，量子コンピュータは「0と1の重ね合わせ状態」を利用して同時に4通りの状態を確認するため一回の処理で計算が実行できます．
        そのため，量子コンピュータは従来のコンピュータの1/4の時間で計算ができることになります．
        これが量子コンピュータが高速に計算できると言われている所以です．
        <br></p></div>
        <div class="QAimg">
            <img src="/media/Quantum1.png">
        </div><br>
        <div class="container-fluid">
            <p class="QAtext">
        このような組み合わせを調べる問題は実生活にも多く存在しています．
        例えば，皆さんがよく利用するGoogle mapによる経路探索，アルバイトのシフト組み，道路の信号制御などがそうです．
        組み合わせ数が多くなればなるほど従来のコンピュータによる計算では現実的な時間での計算はできなくなります．
        そのような問題を量子コンピュータで高速に計算する方法の研究が活発に進められています．
        <br></p></div>
        <div class="QAimg">
            <img src="/media/Quantum2.png">
        </div>

        <div class="container-fluid">
    <br>
    <p class="QAsub">どれくらい省エネルギー？</p><br>
    <p class="QAtext">
        日本が誇るスーパーコンピュータ富岳の消費電力は1時間に30MW（4人家族の6年分）※だそうです．
        それに対して，量子コンピューティング技術のD-Wave社製量子アニーリングマシンは25kW以下，つまり，富岳の1500分の1以下の消費電力で計算ができます．
        この点からも今後のIT社会を支える技術として量子コンピューティング技術が重要視されています．
    </p><br>
    <p class="QAurl">
    ※引用：理化学研究所　ハロー！スパコン富岳版第五回これが「富岳」だ<br>
    <a href="https://www.r-ccs.riken.jp/intro-hpc/hellosc-fugaku/05.html">(https://www.r-ccs.riken.jp/intro-hpc/hellosc-fugaku/05.html)</a>
    </p><br>
    <p class="QAtext">
        量子コンピュータのいいところだけを紹介してみましたが，まだまだ開発段階のため簡単には利用できないのが現状です．
        「量子コンピュータを創る研究」と「量子コンピュータを使う研究」の両方の側面から技術開発が進められているので，数年〜数十年後に皆さんが使うものにも量子コンピューティング技術が使われるようになるかも知れません．
    </p>
</div>
{% endblock %}