{% extends "base.html" %}
    {% block ul %}
    {% endblock %}
    {% block body %}
    <div class="container">
        <main>
            <div style="position:relative;z-index: 990;">
                現在地点 {{nowspot}} {{nowspot_name}}<br>
                次の地点 {{nextspot}} {{nextspot_name}}
                <div class="text-center">
                    
                
                    <div class="mx-auto btn-group">
                    <!--<form action="{% url 'MuseumPath' pk%}",method='GET'><button type="submit" name="reset" class="btn btn-danger btn-block"><p class='bg'>戻る</p></button></form>-->
                    <form action="{% url 'TSPSpot' pk%}",method='GET'>
                    <button type="submit" name="arrive" class="btn btn-success btn-block"><p class='bg'>到着</p></button></div>
                </form></div>
                </div><br>
                <div class="image-container">
                    <img src="/media/map_all.png" width="720px">
                    <img src="data:image/png;base64,{{graph|safe}}">
                </div>
                <img src="{{img}}" wdith="720px">
        </main>
        
    </div>
    {% endblock %}