{% extends "base_En.html" %}
    {% block ul %}
    {% endblock %}
    {% block body %}
    <div class="container-fluid">
        
    
                <p class="spot">Now:</p> <br>
                <p class="text-center name-explain">{{nowspot_name}}<br></p>
                <p class="spot">Next: <br></p>
                <p class="text-center name-explain">{{nextspot_name}}</p>
                <div class="text-center">

                    <div class="mx-auto btn-group">
                    <!--<form action="{% url 'MuseumPath' pk%}",method='GET'><button type="submit" name="reset" class="btn btn-danger btn-block"><p class='bg'>戻る</p></button></form>-->
                    <form action="{% url 'TSPSpotEn' pk%}",method='GET'>
                    <button type="submit" name="arrive" class="btn btn-success btn-block">Arrive</button></div>
                </form></div>
                </div><br>
                <div class="image-container">
                    <img src="/media/{{mapimg}}" >
                    <img src="data:image/png;base64,{{graph|safe}}">
                </div><br>
                <div class="text-center">
                    <a href="#" onclick="openModal()">Expansion</a>
                <img src="/media/{{nextimg}}"></div>
                <div id="myModal" class="modal">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <img src="/media/{{mapimg}}" class="modal-content" alt="Large Image">
                    <img src="data:image/png;base64,{{graph|safe}}" class="modal-content-second" >
                </div>
        
    </div>
    <script>
        function openModal() {
        document.getElementById('myModal').style.display = 'block';
        }

        // モーダルを閉じる関数
        function closeModal() {
            document.getElementById('myModal').style.display = 'none';
        }

        // モーダル外をクリックしたら閉じる
        window.onclick = function(event) {
            var modal = document.getElementById('myModal');
            if (event.target === modal) {
                closeModal();
            }
        };
    </script>
    {% endblock %}