{% extends "base.html" %}
    {% block ul %}
    {% endblock %}
    {% block body %}
    <main>
        <div class="container">
            <div class="text-center">
                この経路で案内を<br>
                始めますか<br>
                予測巡回時間 およそ{{goaltime}}分</div>
        <div class="image-container">
        <img src="/media/map_all.png" width="720px">
        <img src="data:image/png;base64,{{graph|safe}}">
        
        </div><div class="image-text">
        <a href="{% url 'TSPCalc' pk %}">再計算実行</a><br>
        <a href="{% url 'ParameterSelect' pk %}">設定画面へ戻る</a><br>
        <a href="{% url 'TSPSpot' pk %}">経路案内を開始する</a></div>
    </div>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var image = document.querySelector('.image-container img');
    
            image.addEventListener('click', function () {
                this.classList.toggle('enlarged');
            });
        });
    </script>
    {% endblock %}