{% extends "base.html" %}
    {% block ul %}
    {% endblock %}
    {% block body %}
    
        <div class="container-fluid">
            <div class="text-center">
                <p class="end-text">予測巡回時間 <br>{{goaltime}}分</p>
                <a href="{% url 'ParameterSelect' pk %}">設定画面へ戻る</a><br></div>
        <div class="image-container">
        <img src="/media/map_all.png">
        <img src="data:image/png;base64,{{graph|safe}}">
        
        </div><div class="text-center"><br>
        <a href="{% url 'TSPCalc' pk %}">再計算実行</a><br>
        <button id="startnavi" class="btn btn-success btn-block">案内を開始する</button></div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var image = document.querySelector('.image-container img');
    
            image.addEventListener('click', function () {
                this.classList.toggle('enlarged');
            });
        });
        document.getElementById('startnavi').addEventListener('click', function() {
    var url = "{% url 'TSPSpot' pk %}";
    window.location.href = url;
  });
    </script>
    {% endblock %}