{% extends "base_En.html" %}
    {% block ul %}
    {% endblock %}
    {% block body %}
    
        <div class="container-fluid">
            <div class="text-center">
               <p class="end-text"> Estimated tour time: <br> {{goaltime}} min.<br></p>
            <a href="{% url 'ParameterSelectEn' pk %}">Back to the setting</a><br>
            </div>
        <div class="image-container">
        <img src="/media/map_all.png" width="720px">
        <img src="data:image/png;base64,{{graph|safe}}">
        
        </div><div class="text-center">
        <a href="{% url 'TSPCalcEn' pk %}">Recalculate</a><br>
        
        <button id="startnavi" class="btn btn-success btn-block">Next</button></div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var image = document.querySelector('.image-container img');
    
            image.addEventListener('click', function () {
                this.classList.toggle('enlarged');
            });
        });
        document.getElementById('startnavi').addEventListener('click', function() {
    var url = "{% url 'TSPSpotEn' pk %}";
    window.location.href = url;
  });
    </script>
    {% endblock %}