{% extends "base.html" %}
    {% block ul %}
    {% endblock %}
    {% block body %}
    <main>
        <div class="container">
        現在地点:<br>
        <div class="bordered">{{name}}</div><br>
        説明:<br>
        <div class="bordered">{{explain}}</div><br>
        <img src="/media/{{img}}" width="720px"><br>
        <div class="text-center">
            <form action="{% url 'EvaluationTSP' pk%}" method="POST">
                {% csrf_token %}
                {{form.display_evaluation.label}}<br>
                {{form.display_evaluation}}<br>
                <button type="submit" name="button" class="btn btn-success"><p class="bg">Next</p></button>
    
            </form></div>
        </div>
    </main>
    {% endblock %}