{% extends "base_En.html" %}
    {% block ul %}
    {% endblock %}
    {% block body %}
    
        <div class="container-fluid">
        <p class="spot">Now:<br></p>
        <p class="text-center name-explain">{{name}}<br></p>
       <div class="text-center">
        <div class="picture-frame">
        <img src="/media/{{img}}"><br></div></div>
        <p class="spot">Explain:<br></p>
       <p class="name-explain">{{explain}}<br><br></p>
       <div class="text-center">

       
            <form action="{% url 'EvaluationTSPEn' pk%}" method="POST">
                {% csrf_token %}
                {{form.display_evaluation.label}} :
                {{form.display_evaluation}}<br><br>
                <button type="submit" name="button" class="btn btn-success">Next</button>
               
    <br><br>
            </form>
            <a href="{%url 'TSPNextPathEn' pk %}">Back</a>
        </div>
        </div>
    
    {% endblock %}